@model QL_HDPHONGLAB.Models.DUTRUTHIETBI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DUTRUTHIETBI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DACTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DACTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THIETBI.TENTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THIETBI.TENTB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
