@model QL_HDPHONGLAB.Models.DUNGCU

@{
    ViewBag.Title = "Create_CNTP - Dụng Cụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Thêm Dụng Cụ</h2>

<div class="body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Mã Dụng Cụ:
            @*@Html.LabelFor(model => model.MADC, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MADC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MADC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tên Dụng Cụ:
            @*@Html.LabelFor(model => model.TENDC, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENDC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENDC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Lượng Nhập:
            @*@Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.LUONGXUAT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONGXUAT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Lượng Tồn:
            @*@Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.LUONGTON, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LUONGTON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Đơn Vị:
            @*@Html.LabelFor(model => model.DVT, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.DVT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DVT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày Nhập:
            @*@Html.LabelFor(model => model.NGAYNHAP, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYNHAP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAYNHAP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giờ Sử Dụng:
            @*@Html.LabelFor(model => model.GIOSD, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIOSD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIOSD, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-outline-danger" type="submit" value="Thêm" />
            </div>
        </div>
    </div>
    }
</div>
