@using QL_HDPHONGLAB.Models
@{
    ViewBag.Title = "Nhập Kho";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    IEnumerable<DUTRUHOACHAT> listDuTru = ViewBag.ListDTHoaChat as IEnumerable<DUTRUHOACHAT>;
    IEnumerable<HOACHAT> listHoaChat = ViewBag.HoaChat as IEnumerable<HOACHAT>;
    IEnumerable<NGUOIDUNG> listNhanVien = ViewBag.NhanVien as IEnumerable<NGUOIDUNG>;
    IEnumerable<NCC> listNhaCungCap = ViewBag.NhaCungCap as IEnumerable<NCC>;
}

<div class="container">
    <div class="page-title-container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h1 class="mb-0 pb-0 display-4" id="title">Nhập kho</h1>
            </div>
        </div>
    </div>
    @*<div style="text-align:center; display:block" class="row">
        <div>
            <a class="btn btn-outline-primary" href="/Admin/Kho/NhapKho">Tất Cả [@ViewBag.TatCa]</a>
            @foreach (var item in listDuTru)
            {
                <a class="btn btn-outline-primary" href="/Admin/Filter/LocNhapnguyenLieu?iMaLNL=@item.MAHC">@item.TENHC</a>            }
        </div>
    </div>*@
    @using (Html.BeginForm("NhapKho", "Kho"))
    {
        <div class="row">
            <div class="col-6 col-lg order-1 order-lg-0">
                <h2 class="small-title">Thông Tin Phiếu Nhập</h2>
                <div id="addressForm" class="tooltip-label-end" novalidate="">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Nhân Viên Kho</label>
                                    <select class="form-select" name="TaiKhoanNV_id">
                                        @foreach (var item in listNhanVien)
                                        {
                        
                                            <option value="@item.USERNAME">@item.HOTEN</option>
                                         }
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Nhà Cung Cấp</label>
                                    <select class="form-select" name="MaNCC_id">
                                        @foreach (var item in listNhaCungCap)
                                        {
                                            <option value="@item.MANCC">@item.TENNCC</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Ngày Nhập</label>
                                    <input type="date" class="form-control mask-currency" name="NGAYNHAP">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="form-label">Tổng Tiền</label>
                                    <input type="text" class="form-control mask-currency" value="0" required name="TONGTIEN" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #region Phần Hoá Chất Nhập -->
                <table class="table ChiTietPhieuNhap">
                    <tr class="trAppend" style="display:none">
                        <td>
                            <select class="ddlNguyenLieu form-select" name="">
                                @foreach (var item in listHoaChat)
                                {
                                    <option value="@item.MAHC">@item.TENHC</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input name="" class="txtSoLuongNhap form-control">
                        </td>
                        <td>
                            <input name="" class="txtGiaNhap form-control">
                        </td>
                        <td>
                            <input name="" class="form-control" readonly>
                        </td>
                        <td>
                            <input class="btnDelete" style="width:30px;height:30px" value="xóa">
                        </td>
                    </tr>
                    <tr class="trFirstChild" data-id="-1">
                        <td>Hoá Chất</td>
                        <td>Số Lượng Nhập</td>
                        <td>Giá Nhập</td>
                        <td>Thành Tiền</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" value="+" class="btn btn-success" id="btnAdd">
                <input type="submit" value="Nhập Hàng" class="btn btn-primary" id="btnNhapHang">
                <!-- #endregion -->

            </div>
        </div>
        }
</div>
<script src="~/Assets/js/AppendNhapKho.js"></script>
