@model QL_HDPHONGLAB.Models.HOACHAT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOACHAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENHC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENHC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THONGSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CASNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CASNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONVI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUONGXUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUONGXUAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUONGTON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUONGTON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_HOACHAT.XUATXU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_HOACHAT.XUATXU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAHC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
