@model QL_HDPHONGLAB.Models.DOIMATKHAU

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<style>
    .body-content {
        vertical-align: central;
        margin: 0 auto;
    }
</style>
<div class="body-content">
    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
    {
    <center>
        <h2>Đổi mật khẩu</h2>
        <table class="center" style="margin-top: 10px;">
            <tr>
                <td>Email: </td>
                <td>
                    @Html.EditorFor(pass => pass.EMAIL)
                </td>
                <td>@Html.ValidationMessageFor(pass => pass.EMAIL)</td>
            </tr>

            <tr style="margin-top: 10px;">
                <td>Mật khẩu cũ: </td>
                <td>
                    @Html.EditorFor(pass => pass.PASSWORD)
                </td>
                <td>@Html.ValidationMessageFor(pass => pass.PASSWORD)</td>
            </tr>
            <tr class="rowspace" style="margin-top: 10px;">
                <td>Mật khẩu mới: </td>

                <td>
                    @Html.EditorFor(pass => pass.NEWPASSWORD)
                </td>
                <td>@Html.ValidationMessageFor(pass => pass.NEWPASSWORD)</td>
            </tr>
            <tr class="rowspace" style="margin-top:10px;">
                <td>Xác nhận mật khẩu: </td>

                <td>
                    @Html.EditorFor(pass => pass.CONFIRMPASSWORD)
                </td>
                <td>@Html.ValidationMessageFor(pass => pass.CONFIRMPASSWORD)</td>
            </tr>
            
            <tr class="rowspace" style="text-align:right; margin-top:10px;">
                <td colspan="3" id="button">
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Đổi mật khẩu" />
                </td>
            </tr>
            <tr class="rowspace" style="color: red;"><td colspan="3">@ViewBag.Message</td></tr>
        </table>
    </center>

    }
</div>
