@model QL_HDPHONGLAB.Models.THIETBI

@{
    ViewBag.Title = "Create_CNTP - Thiết Bị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Thêm Thiết Bị</h2>

<div class="body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Mã Thiết Bị:
                @*@Html.LabelFor(model => model.MATB, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MATB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MATB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tên Thiết Bị:
                @*@Html.LabelFor(model => model.TENTB, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENTB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENTB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Qui Cách:
                @*@Html.LabelFor(model => model.QUICACH, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QUICACH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QUICACH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Số Lượng Nhập:
                @*@Html.LabelFor(model => model.SLBANDAU, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SLXUAT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SLXUAT, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                Số Lượng Tồn:
                @*@Html.LabelFor(model => model.SLTON, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SLTON, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SLTON, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tập Huấn:
                @*@Html.LabelFor(model => model.TAPHUAN, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TAPHUAN)
                        @Html.ValidationMessageFor(model => model.TAPHUAN, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Thêm" />
                </div>
            </div>
        </div>
    }
</div>