@model QL_HDPHONGLAB.Models.THIETBI

@{
    ViewBag.Title = "Edit - Thiết Bị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Sửa Thông Tin Thiết Bị</h2>

<div class="body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MATB)

        <div class="form-group">
            Tên Thiết Bị:
            @*@Html.LabelFor(model => model.TENTB, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENTB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENTB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Qui Cách:
            @*@Html.LabelFor(model => model.QUICACH, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.QUICACH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QUICACH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Lượng Ban Đầu:
            @*@Html.LabelFor(model => model.SLBANDAU, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLBANDAU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLBANDAU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Lượng Xuất:
            @*@Html.LabelFor(model => model.SLXUAT, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLXUAT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLXUAT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Lượng Tồn:
            @*@Html.LabelFor(model => model.SLTON, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLTON, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLTON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Lượng Thanh Lý:
            @*@Html.LabelFor(model => model.SLTON, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLTHANHLY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLTHANHLY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tập Huấn:
            @*@Html.LabelFor(model => model.TAPHUAN, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TAPHUAN)
                    @Html.ValidationMessageFor(model => model.TAPHUAN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Cập nhật" />
            </div>
        </div>
    </div>
    }
</div>