@model QL_HDPHONGLAB.Models.PHONGBAN

@{
    ViewBag.Title = "Edit - Phòng Ban";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .body-content {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0000;
        text-align: justify;
    }
</style>

<h2>Sửa Thông Tin Phòng Ban</h2>

<div class="body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PHONGBAN</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MAPHBAN)

            <div class="form-group">
                Tên Phòng Ban:
                @*@Html.LabelFor(model => model.TENPHBAN, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENPHBAN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENPHBAN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Địa Điểm:
                @*@Html.LabelFor(model => model.DIADIEM, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DIADIEM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DIADIEM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Ghi Chú:
                @*@Html.LabelFor(model => model.GHICHU, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GHICHU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GHICHU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Cập nhật" />
                </div>
            </div>
        </div>
    }
</div>

