@model QL_HDPHONGLAB.Models.PHONGLAB

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHONGLAB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENPHLAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHLAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIADIEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADIEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPHLAB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
